// Place all the styles related to the Restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//mixins

@mixin star-height {
  height: 20px;
  width: 50px;
  @content;
}

.restaurant-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-table-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

.closed {
  background-color: lightgrey;
}

.hidden {
  display: none;
}

.restaurant-blurb {
  background-color: lightsteelblue;
}

.blurb-box {
  display: flex;
  justify-content: space-around;
}

//filter form

.filter-form-div {
  background-color: lightcoral;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.filter-form-div > h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.restaurant-table-filters {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  max-width: 50%;
}

.filter-form {
  display: flex;
  flex-direction: column;
}

.input-name, .select-year, .select-close, .select-stars {
  margin-bottom: 5px;
}

// table

.restaurant-stars-header {
  text-align: center;
}

.one-star {
  @include star-height {
    background: image-url("14px-Michelin-1.gif");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.two-star {
  @include star-height {
    background: image-url("28px-Michelin-2.gif");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.three-star {
  @include star-height {
    background: image-url("42px-Michelin-3.gif");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.restaurant-row:hover {
  background-color: skyblue;
  cursor: pointer;
}

//blurb

.blurb-box {
  display: flex; 
}

.blurb-box > div {
  box-sizing: border-box;
  padding: 5px;
}

.blurb-box-text {
  max-width: 500px;
}

.blurb-box-text > h3 {
  font-weight: 600;
  text-decoration: underline;
}

.blurb-box-text > p {
  margin-bottom: 20px;
}

.blurb-name {
  font-size: 24px;
  font-weight: 600;
  text-decoration: underline;
  margin-bottom: 20px;
}

.blurb-description-title {
  font-weight: 600;
}

.map-container {
  min-height: 300px;
  min-width: 300px;
  margin: 5px;
}